<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!--
		NOTA IMPORTANTE: 
		Este archivo de configuración NO debe incluirse dentro del Application-Context. 
		SOLO debe ser usado como contexto de un test de unidad (JUNIT).
	 -->

	<!-- DATASOURCE FONTAR -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"><value>oracle.jdbc.driver.OracleDriver</value></property>
		<property name="url"><value>jdbc:oracle:thin:@servdesa28:1521:FONTAR</value></property>
		<property name="username"><value>fontar_desa</value></property>
		<property name="password"><value>fontar</value></property>
	</bean>	
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource"/>
		</property>
		<!--  <property name="entityInterceptor" ref="genericCryptoInterceptor"/>-->
		<property name="mappingResources">
			<list>
				<value>com/fontar/data/impl/domain/hibernate/PresentacionConvocatoriaBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/ProyectoRaizBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/ProyectoDatosBean.hbm.xml</value>				
				<value>com/fontar/data/impl/domain/hibernate/BandejaDeEntradaBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/PaqueteBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/ClavesPaqueteEvaluador.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/ClavesPaqueteResultado.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/ComisionBean.hbm.xml</value>				
				<value>com/fontar/data/impl/domain/hibernate/JurisdiccionBean.hbm.xml</value>				
				<value>com/fontar/data/impl/domain/hibernate/TipoProyectoBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/EntidadBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/EntidadBeneficiariaBean.hbm.xml</value>				
				<value>com/fontar/data/impl/domain/hibernate/FacturacionBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/ComposicionBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/CiiuBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/EmpleoPermanenteBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/AdjuntoBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/MatrizPresupuestoBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/FuenteFinanciamientoBean.hbm.xml</value>				
				<value>com/fontar/data/impl/domain/hibernate/InstrumentoDefBean.hbm.xml</value>								
				<value>com/fontar/data/impl/domain/hibernate/LocalizacionBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/InstrumentoBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/ClavesBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/ProyectoEntidadBeneficiariaBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/PersonaBean.hbm.xml</value>				
				<value>com/fontar/data/impl/domain/hibernate/ProyectoAdmisionBean.hbm.xml</value>								
				<value>com/fontar/data/impl/domain/hibernate/BitacoraBean.hbm.xml</value>				
				<value>com/fontar/data/impl/domain/hibernate/ProyectoJurisdiccionBean.hbm.xml</value>				
				<value>com/fontar/data/impl/domain/hibernate/ProyectoPresupuestoBean.hbm.xml</value>				
				<value>com/fontar/data/impl/domain/hibernate/EvaluacionBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/RegionBean.hbm.xml</value>				
				<value>com/fontar/data/impl/domain/hibernate/DistribucionFinanciamientoBean.hbm.xml</value>				
				<value>com/fontar/data/impl/domain/hibernate/EvaluadorBean.hbm.xml</value>				
				<value>com/fontar/data/impl/domain/hibernate/EntidadEvaluadoraBean.hbm.xml</value>				
				<value>com/fontar/data/impl/domain/hibernate/EntidadBancariaBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/InstrumentoVersionBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/EvaluacionEvaluadorBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/EntidadIntervinientesBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/ProyectoPaqueteBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/DistribucionTipoProyectoBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/MatrizCriterioBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/NotificacionBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/SeguimientoBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/presupuesto/plan/EtapaBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/MatrizCriterioItemBean.hbm.xml</value>				
				<value>com/fontar/data/impl/domain/hibernate/RendicionCuentasBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/AdjuntoContenidoBean.hbm.xml</value>				
				<value>com/fontar/data/impl/domain/hibernate/RubroBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/presupuesto/plan/ActividadBean.hbm.xml</value>		
				<value>com/fontar/data/impl/domain/hibernate/ExpedienteMovimientoBean.hbm.xml</value>
				<value>com/fontar/data/impl/domain/hibernate/ProyectoEvaluacionCriterioBean.hbm.xml</value>				
				<value>com/fontar/data/impl/domain/hibernate/ProyectoReconsideracionBean.hbm.xml</value>				
			</list>			
		</property>
				
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		
		<property name="eventListeners">
			<map>
				<entry key="merge">
					<bean class="org.springframework.orm.hibernate3.support.IdTransferringMergeEventListener"/>
				</entry>
			</map>
		</property>
	</bean>


	<!-- Spring Data Access Exception Translator Defintion -->
	<bean id="jdbcExceptionTranslator" class="org.springframework.jdbc.support.SQLErrorCodeSQLExceptionTranslator"> 
		<property name="dataSource"><ref bean="dataSource"/></property> 
	</bean> 
	
	<!-- Hibernate Template Defintion -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
	   <property name="sessionFactory"><ref bean="sessionFactory"/></property>
	   <property name="jdbcExceptionTranslator"><ref bean="jdbcExceptionTranslator"/></property>
	</bean>
	
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory"><ref local="sessionFactory"/></property>
	</bean>
  
</beans>
